<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsy.mapper.UserMapper">

    <cache/>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO t_user (username,password) VALUES (#{username},#{password})
    </insert>
    <!--<select id="findById" parameterType="int" resultType="User">
        SELECT * FROM t_user where id=#{id}
    </select>-->

    <select id="findById" resultMap="UserMap">
        <include refid="selectUserAndRole"/>
        WHERE t_user.id=#{id}
    </select>

    <delete id="delete">
        DELETE FROM t_user where id=#{id}
    </delete>
    <update id="update">
        UPDATE t_user
        <set>
            username=#{username},
            <if test="password!=null and password!=''">
                password=#{password}
            </if>
        </set>
        where id=#{id}
    </update>

    <!--  <select id="findAll" resultType="com.lsy.pojo.User">
          SELECT * FROM t_user
      </select>-->

    <sql id="selectUserAndRole">
        SELECT t_user.*,t_role.id AS role_id,t_role.role_name,t_role.view_name
        FROM t_user
        LEFT JOIN t_user_role ON t_user.id = t_user_role.user_id
        LEFT JOIN t_role ON t_user_role.role_id = t_role.id
    </sql>

    <select id="findAll" resultMap="UserMap">
        <include refid="selectUserAndRole"/>
    </select>
    <select id="findByPage" resultMap="userMap2">
        SELECT * FROM  t_user limit ${start},${pageSize}
    </select>
    <select id="count" resultType="java.lang.Long">
        SELECT count(*) FROM t_user
    </select>
    <select id="countByParam" resultType="java.lang.Long">
        SELECT count(*) FROM t_user
        <if test="queryRole != null and queryRole != ''">
            LEFT JOIN t_user_role ON t_user.id=t_user_role.user_id
        </if>
        <where>
            <if test="queryName!=null and queryName!=''">
                username LIKE concat('%',#{queryName},'%')
            </if>
            <if test="queryRole!=null and queryRole!=''">
                and t_user_role.role_id=#{queryRole}
            </if>
        </where>
    </select>
    <select id="findByPageAndParam" resultMap="userMap2">
        SELECT * FROM t_user
        <if test="queryRole != null and queryRole != ''">
            LEFT JOIN t_user_role ON t_user.id=t_user_role.user_id
        </if>
        <where>
            <if test="queryName!=null and queryName!=''">
                username LIKE concat('%',#{queryName},'%')
            </if>
            <if test="queryRole!=null and queryRole!=''">
                and t_user_role.role_id=#{queryRole}
            </if>
        </where>
        limit ${start},${pageSize}
    </select>
    <select id="findByUsername" resultType="com.lsy.pojo.User">
        SELECT * FROM t_user WHERE username=#{username}
    </select>

    <resultMap id="UserMap" type="User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <collection property="roleList" ofType="Role">
            <id column="role_id" property="id"/>
            <result column="role_name" property="roleName"/>
            <result column="view_name" property="viewName"/>
        </collection>
    </resultMap>

    <resultMap id="userMap2" type="User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <collection property="roleList" ofType="Role" column="id" select="com.lsy.mapper.RoleMapper.findByUserId"/>
    </resultMap>
</mapper>